# binary files
*.root
*.png
*.pdf
*.pyc
*.tar.gz
*.eps

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python kibble
__init__.py

# text files
*.log
*.stdout
*.stderr
*.condor
/batch/jobExecCondor_*.jdl
*.csv
